// $bg-color: #fff835; // hsl(58, 100%, 60%); 
$bg-color: #ffff00; // hsl(58, 100%, 60%); 
// $logo-bg-color: #fffa00; // hsl(59, 100%, 50%);
$bg-color-dark: #000;
$bg-color-light: #f3f3f3;
$text-color-dark: #333333;
$text-color-white: #c3c3c3;

$btn-color: white;
// $btn-bg-color: #8280ff;
$btn-bg-color: #000;
$btn-bg-color-hover: #fffd54;

